<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073012224159-i3g1vb9chgeurv8tufh2vmsu43o503qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073012224159-i3g1vb9chgeurv8tufh2vmsu43o503qr</string>
	<key>API_KEY</key>
	<string>AIzaSyBGoKT2vqhnmsvbTbk7I-M5zoFwKIKUY4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1073012224159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatStub</string>
	<key>PROJECT_ID</key>
	<string>chatchegclass</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchegclass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073012224159:ios:f7c93ad8b30f22dfd532aa</string>
</dict>
</plist>